:root {
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-300: 1.5rem;
}

@font-face {
  font-family: Figtree;
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
  font-weight: 100 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Figtree, sans-serif;
}

body {
  background-color: var(--color-yellow);
  line-height: 150%;
  letter-spacing: 0%;
}

.blog-card {
  max-width: 24rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-300);
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  background: var(--color-white);
  margin: 12.5rem auto 0 auto;
  color: var(--color-gray-950);
}

.blog-card-img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}

.blog-card-descr {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.category {
  width: 5.125rem;
  min-height: 1.813rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-50) var(--spacing-150)
    var(--spacing-50) var(--spacing-150);
  background-color: var(--color-yellow);
  font-size: clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
  font-weight: 800;
  border-radius: 4px;
}

.publication-date {
  font-size: clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
  font-weight: 500;
}

.title {
  font-size: clamp(1.25rem, 1.162rem + 0.376vw, 1.5rem);
  font-weight: 800;
  transition: 0.2s all;
  cursor: pointer;
}

/* Disable transitions for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  .title {
    transition: none; /* Respect user preference by removing motion */
  }
}

.title:hover {
  color: var(--color-yellow);
}

.text {
  color: var(--color-gray-500);
  font-size: clamp(0.875rem, 0.831rem + 0.188vw, 1rem);
  font-weight: 500;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.875rem;
  font-weight: 800;
  margin-top: 0.75rem;
}

.author img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 6.25rem;
}
