:root {
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-300: 24px;
}

@font-face {
  font-family: Figtree;
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
  font-weight: 100 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Figtree, sans-serif;
}

body {
  background-color: var(--color-yellow);
  line-height: 150%;
  letter-spacing: 0%;
}

.blog-card {
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200, 24px);
  padding: var(--spacing-200, 24px);
  border: 1px solid var(--color-gray-950, rgba(17, 17, 17, 1));
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  background: var(--color-white, rgba(255, 255, 255, 1));
  margin: 200px auto 0 auto;
  color: var(--color-gray-950, rgba(17, 17, 17, 1));
}

.blog-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-card-descr {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category {
  width: 82px;
  min-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-50, 4px) var(--spacing-150, 12px)
    var(--spacing-50, 4px) var(--spacing-150, 12px);
  background-color: var(--color-yellow);
  font-size: clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
  font-weight: 800;
  border-radius: 4px;
}

.publication-date {
  font-size: clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
  font-weight: 500;
}

.title {
  font-size: clamp(1.25rem, 1.162rem + 0.376vw, 1.5rem);
  font-weight: 800;
  transition: 0.2s all;
  cursor: pointer;
}

.title:hover {
  color: var(--color-yellow);
}

.text {
  color: var(--color-gray-500, rgba(107, 107, 107, 1));
  font-size: clamp(0.875rem, 0.831rem + 0.188vw, 1rem);
  font-weight: 500;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 800;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 100px;
}

@media screen and (max-width: 400px) {
  .blog-card {
    width: 327px;
  }
}
